
.title h1{
	color: #000;
	font-size: 30px;
	font-weight: bolder;
	font-family: cursive;
	position: center;
}


.box{
    background-color: #000;
    color:#fff;
  
max-width: 90%;
max-height: 100%;
margin-bottom: 40px;

margin-top: 40px;
   
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.box:before{
    content:'';
      position:absolute;
         
    top:-2px;
    right:-2px;
    left:-2px;
    bottom:-2px;
    background:#fff;
    z-index: -1;
}
.box:after{
    content:'';
    position: absolute;
    top:-2px;
    right:-2px;
    left:-2px;
    bottom:-2px;
    background:#fff;
    z-index: -2;
    filter:blur(40px);
}
.box:before,
.box:after{
    background: linear-gradient(235deg,#ffff00,#060c21,#ff0000,#060c21,#ffff00);
}
.content{
    padding:20px;
    box-sizing: border-box;
    color:#f5e79e;
    
    font-family:sans-serif;
   
   
    
    
}

